{% extends 'base.html.twig' %}

{% block title %}Genre index
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<style>
		body {
			margin: 40px;
		}
		a {
			text-decoration: none;
			color: #000;
		}
		a:hover {
			color: #bbb;
		}
	</style>
	<br>
	<h2>
		<a href="{{ path('genre_index') }}">
			Genres
		</a>
		{% if is_granted('ROLE_ADMIN','ROLE_USER') %}

			<a href="{{ path('genre_new') }}" class="btn btn-primary">
				<i class="bi bi-plus"></i>
			</a>
		{% endif %}
	</h2>

	<center>
		<form style="margin: 20px 0; width:50%" class="d-flex" method="POST">
			<input class="form-control me-2" name="recherche" type="search" placeholder="rechercher par nom" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">rechercher</button>
		</form>
		<table class="table table-striped" style="width:80%;">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for genre in genres %}
					<tr>
						<td>{{ genre.id }}</td>
						<td>{{ genre.nom }}</td>
						<td>
							<a href="{{ path('genre_show', {'id': genre.id}) }}" class="btn btn-success">
								<i class="bi bi-eye"></i>
							</a>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-warning">
									<i class="bi bi-pen-fill"></i>
								</a>
								<a class="btn">
									{{ include('genre/_delete_form.html.twig') }}
								</a>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</center>
	{% if is_granted('ROLE_ADMIN') %}{% endif %}
{% endblock %}
