{% extends 'base.html.twig' %}

{% block title %}Genre
{% endblock %}

{% block body %}
	<style>
		body {
			margin: 40px;
		}
	</style>
	<br>
	<h2>{{ genre.nom }}</h2>

	<table class="table table-stripped">
		<thead>
			<tr>
				<th style="width: 300px">#</th>
				<th>Nom</th>
				{% if is_granted('ROLE_ADMIN','ROLE_USER') %}
					<th>Actions</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ genre.id }}.</td>
				<td>{{ genre.nom }}</td>
				<td>
					{% if is_granted('ROLE_ADMIN') %}

						<a href="{{ path('genre_edit', {'id': genre.id}) }}" class="btn btn-warning">
							<i class="bi bi-pen-fill"></i>
						</a>
						<a class="btn">
							{{ include('genre/_delete_form.html.twig') }}
						</a>
					{% endif %}
				</td>
			</tr>

		</tbody>
	</table>
	<a href="{{ path('genre_index') }}" class="btn btn-secondary">back to list</a>

{% endblock %}
