{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
	{% for message in app.flashes('info') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<style>
		body {
			margin: 40px;
		}
	</style>
	<br>
	<h2>Livres
		<a href="{{ path('livre_new') }}" class="btn btn-primary">
			<i class="bi bi-plus"></i>
		</a>
	</h2>

	<form style="margin: 20px 0" class="d-flex" method="POST">
		<input class="form-control me-2" name="titre" type="search" placeholder="rechercher par nom" aria-label="Search">
		<input class="form-control me-2" name="auteur" type="search" placeholder="rechercher par auteur" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">rechercher</button>
	</form>
	<form class="d-flex" style="margin:0 30%; padding:0 20px;">
		<a class="btn btn-outline-success" style="margin:0 3%;" href="{{ path('livre_titreFilter') }}">filter par titre</a>
		<a class="btn btn-outline-success" href="{{ path('livre_dateFilter') }}">filter par date</a>
		<a class="btn btn-outline-success" style="margin:0 3%;" href="{{ path('livre_noteFilter') }}">filter par note</a>
	</form>
	<table class="table table-striped ">
		<thead>
			<tr>
				<th>Id</th>
				<th>Isbn</th>
				<th>Titre</th>
				<th>Nombre_page</th>
				<th>Date_de_parution</th>
				<th>Note</th>
				<th>Auteurs</th>
				<th>Genres</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for livre in livres %}
				<tr>
					<td>{{ livre.id }}</td>
					<td>{{ livre.isbn }}</td>
					<td>{{ livre.titre }}</td>
					<td>{{ livre.nombrePage }}</td>
					<td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ livre.note }}</td>
					<td>
						<ul>
							{% for aut in livre.auteur %}
								<li>{{ aut.getNomPrenom() }}</li>
							{% else %}
								no records found
							{% endfor %}
						</ul>
					</td>
					<td>
						<ul>
							{% for genre in livre.genres %}
								<li>{{ genre.getNom() }}</li>
							{% else %}
								no records found
							{% endfor %}
						</ul>
					</td>
					<td>
						<a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-success">
							<i class="bi bi-eye"></i>
						</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-warning">
								<i class="bi bi-pen-fill"></i>
							</a>
							<a class="btn ">
								{{ include('livre/_delete_form.html.twig') }}
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</td>
</tr></tbody></tbody></table>{% if is_granted('ROLE_ADMIN') %}{% endif %}{% endblock %}
