{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block body %}
	<style>
		body {
			margin: 40px;
		}
	</style>
	<br>
	<h2>
		{{ livre.titre }}</h2>

	<table class="table table-stripped">
		<thead>
			<tr>
				<th style="width: 300px">#</th>
				<th>Isbn</th>
				<th>Titre</th>
				<th>Nombre_page</th>
				<th>Date_de_parution</th>
				<th>Note</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ livre.id }}</td>
				<td>{{ livre.isbn }}</td>
				<td>{{ livre.titre }}</td>
				<td>{{ livre.nombrePage }}</td>
				<td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
				<td>{{ livre.note }}</td>
				<td>
					<a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-warning">edit</a>
					<a class="btn btn-danger">
						<i class="bi bi-trash">
							{{ include('livre/_delete_form.html.twig') }}
						</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<a href="{{ path('livre_index') }}" class="btn btn-secondary">back to list</a>

{% endblock %}
