{% extends 'base.html.twig' %}

{% block title %}Auteur index
{% endblock %}

{% block body %}
	{% for message in app.flashes('info') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<style>
		body {
			margin: 40px;
		}
	</style>
	<br>
	<h1>Auteurs
		<a href="{{ path('auteur_new') }}" class="btn btn-primary">
			<i class="bi bi-plus"></i>
		</a>
	</h1>

	<table class="table table-striped ">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom_prenom</th>
				<th>Sexe</th>
				<th>Date_de_naissance</th>
				<th>Nationalite</th>
				<th>Livres</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for auteur in auteurs %}
				<tr>
					<td>{{ auteur.id }}</td>
					<td>{{ auteur.nomPrenom }}</td>
					<td>{{ auteur.sexe }}</td>
					<td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
					<td>{{ auteur.nationalite }}</td>
					<td>
						<ul>
							{% for livre in auteur.livres %}
								<li>{{ livre.getTitre() }}</li>
							{% else %}
								no records found
							{% endfor %}
							<ul></td>
							<td>
								<a href="{{ path('auteur_show', {'id': auteur.id}) }}" class="btn btn-success">
									<i class="bi bi-eye"></i>
								</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ path('auteur_edit', {'id': auteur.id}) }}" class="btn btn-warning">
										<i class="bi bi-pen-fill"></i>
									</a>
									<a class="btn btn-danger">
										<i class="bi bi-trash">
											{{ include('auteur/_delete_form.html.twig') }}
										</i>
									</a>
								{% endif %}
							</td>
						</td>
					</td>
				</tr>
			</tbody>
		</tbody>
	</td>
</tr>{% else %}
<tr>
	<td colspan="6">no records found</td>
</tr>{% endfor %}</tbody></table>{% if is_granted('ROLE_ADMIN') %}{% endif %}{% endblock %}
